/* General */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}


a {
    text-decoration: none;
}

/* Header */
header {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section{
    scroll-margin-top: 260px;
}


header img {
    width: 100px; /* Tamaño medio */
    height: auto; /* Mantener proporciones */
    margin-bottom: 10px;
}

header h1 {
    font-size: 28px;
    margin: 0px 0;
}

/* Nav */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    font-size: 16px;
}

/* Main and Section */
main {
    width: 70%;
    margin: 40px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

section {
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ddd;
}


#descripcion h2, #habilidades h2, #experiencia h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #2c3e50;
}

#descripcion p {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.6;
}

#descripcion h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: normal;
}

#descripcion ul {
    list-style-type: none;
    padding-left: 0;
}

#descripcion ul li {
    font-size: 16px;
}

/* Habilidades */
#habilidades ul {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 18px;
}

#habilidades li {
    margin-bottom: 10px;
}

/* Experiencia */
#experiencia article {
    margin-bottom: 25px;
    padding-bottom: 15px;
}

#experiencia h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

#experiencia time {
    font-size: 14px;
    color: #7f8c8d;
}

/* Footer */
footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 15px;
    position: relative;
    margin-top: 30px;
}

footer p {
    font-size: 16px;
    margin-bottom: 5px;
}

footer a {
    color: #fff;
    font-size: 16px;
}


/* Media Queries para Responsividad */
@media (max-width: 768px) {
    main {
        width: 90%;
    }

    header h1 {
        font-size: 24px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    footer {
        font-size: 14px;
    }
}
